apiVersion: v1
kind: Config
clusters:
- name: {{ cluster_name }}-{{ env_name }}
  cluster:
    server: https://{{ cluster_domain }}:6443
    certificate-authority-data: {{ extracted_data.ca_data }}
contexts:
- name: {{ cluster_name }}-{{ env_name }}
  context:
    cluster: {{ cluster_name }}-{{ env_name }}
    user: {{ cluster_name }}-{{ env_name }}
    namespace: kube-system
current-context: {{ cluster_name }}-{{ env_name }}
preferences: {}
users:
- name: {{ cluster_name }}-{{ env_name }}
  user:
    client-certificate-data: {{ extracted_data.cert_data }}
    client-key-data: {{ extracted_data.key_data }}
