---
- name: Gather service facts
  ansible.builtin.service_facts:

########################################
#               Packages               #
########################################
- name: Install dependencies packages
  include_tasks: packages.yml

########################################
#              Firewalld               #
########################################
# https://ranchermanager.docs.rancher.com/how-to-guides/advanced-user-guides/open-ports-with-firewalld
- name: Disable Firewalld
  include_tasks: firewalld.yml

########################################
#              nftables                #
########################################
- name: config nftables
  include_tasks: nftables.yml
  when:
    - enable_nftable
    - ansible_os_family == "RedHat"
